{% extends "base.html" %}

{% block title %}Загрузка видео{% endblock %}

{% block content %}
    <h1>Загрузите файл в формате mp4</h1>
<form action="/fetch_data_local" method="post" enctype="multipart/form-data">
<div class="mb-3">

  <label for="formFile" class="form-label" id="test">Загрузка файла</label>
    {% if error %}
    <br>
    <label for="test" class="text-danger">{{ error }}</label>
    {% endif %}
    {% if info %}
    <br>
    <label for="test" class="text-danger">{{ info }}</label>
    {% endif %}
  <input class="form-control" type="file" name="file">

<!--    <input class="form-check-input" type="checkbox" value="1" name="check_filename" id="flexRadioDefault2" checked>-->
<!--  <label class="form-check-label" for="flexRadioDefault2">-->
<!--    Проверка файла-->
<!--  </label>-->
</div>
    <button type="submit" class="btn btn-primary">Отправка</button>
    </form>
{% endblock %}

