{% extends "base.html" %}

{% block title %}Child Template{% endblock %}

{% block content %}
<h2>Результат</h2>

{% if data and cols %}
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
        <th>Имя файла</th>
        <th>Загруженное видео</th>
        <th>Видео с задетектированными лицами</th>
        <th>Автор</th>
        <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
<!--      {% for col in cols %}-->
<!--      <td>{{ row[col] }}</td>-->
<!--      {% endfor %}-->
      <td>{{ row['id'] }}</td>
      <td>{{ row['filename'] }}</td>
      <td><a href="/download_origin/{{ row['video_path_origin'] }}">Скачать</a></td>
      <td><a href="/download_detected/{{ row['video_path_origin'] }}">Скачать</a></td>
      <td>{{ row['author'] }}</td>
        <td><a href="/delete/{{ row['video_path_origin'] }}">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Нет данных для отображения.</p>
{% endif %}
{% endblock %}


